<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Pokédex</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <div class="teste">
   
    <ul>
      <% pokemons.forEach(function(pokemon) { %>
      <li>
        <a href="/pokemon/<%= pokemon.id %>"><%= pokemon.nome %> </a> - <%=
        pokemon.tipo %>
      </li>
      <% }); %>
    </ul>
  </div>
    <a href="/treinadores">
      <button>Ver Treinadores Cadastrados</button>
  </a>
<div class="pokemon-form">
  <h2>Add pokemon</h2>
  <form action="/add-pokemon" method="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required>

    <label for="tipo">Tipo</label>
    <input type="text" name="tipo" id="tipo" required>

    <button type="submit">Adicionar pokemon</button>
  </form>

</div>
  </body>
</html>
