<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/treinadores.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Treinadores</title>
</head>
<body>

<!--header/cabecalho -->

<header>
    <div class="cabecalho">
        <a href="/">
            <img src="/imgs/pokemon-logo.svg" alt="Logo Pokemon" class="logo">
        </a>

        <nav>
            <p><a href="/">Pokedex</a></p>
        </nav>
    </div>
  </header>

    <h1>Treinadores</h1>
    <ul>
        <% treinadores.forEach(treinador => { %>
            <li>
                <strong>Nome:</strong> <%= treinador.nome %> - <strong>Idade:</strong> <%= treinador.idade %>
                <ul>
                    <li><strong>Time de Pokémons:</strong></li>
                    <% treinador.pokemons.forEach(pokemon => { %>
                        <li><%= pokemon.nome %> - Tipo: <%= pokemon.tipo %></li>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>

<h1>Cadastro de Treinador</h1>
    <form action="/treinadores" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required>
        
        <label for="idade">Idade:</label>
        <input type="number" name="idade" required>
        
        <label for="pokemons">Pokémons (nomes separados por vírgula):</label>
        <input type="text" name="pokemons" placeholder="Ex: Bulbassauro, Squirtle" required>
        
        <button type="submit">Cadastrar Treinador</button>

       
    </form>
        <a href="/"> 
            <button>Ver Pokédex</button>   
         </a>

</body>
</html>
