body{
    background-image: url(/imgs/pokedex.png);
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: 28%;
    background-position: 50%;
    height: 1100px;
    width: 750px;
    margin: 0 auto;
    position:static;
}

.inner{
    width: 58%;
    height: 38%;
    background-color: #e3e3e3;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 221px;    
    margin-left: 21%;
}

.pokemon-list {
    text-align: center;
    max-width: 1200px;
    
    position: static;
    width: 410px; /* Ajuste para caber na tela da Pokédex */
    height: 400px; /* Altura com rolagem */
    overflow-y: scroll; /* Cria a rolagem */
    top: 165px; /* Ajuste para posicionar na tela da Pokédex */
    z-index: 2; /* Garante que o conteúdo apareça acima da imagem */
    padding: 10px;
    box-sizing: border-box;
}

.pokemon-list::-webkit-scrollbar {
    display: none;
}

.pokemon-list h1 {
    font-family: 'Pokemon Solid';
    font-size: 32px;
    margin-bottom: 10px;
    color: #ffb703;
    text-shadow: 
        -1px -1px 0 #023047,
         1px -1px 0 #023047,
        -1px  1px 0 #023047,
         1px  1px 0 #023047;
}

.pokemon-list a {
    text-decoration: none; /* Remove o sublinhado */
    color: #000; /* Cor do link padrão */
    background-color: #f0f0f0; /* Cor de fundo do link */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave para hover */
    margin-left: 5px;
    margin-right: 5px; 
}

.pokemon-list a:visited {
    color: #000; /* Cor do link visitado (igual ao link normal) */
}

.pokemon-list a:hover {
    background-color: #ccc; /* Cor de fundo no hover */
    color: #fff; /* Cor do texto no hover */
}

.pokemon-list li:last-child {
    border-bottom: none;
}


@font-face {
    font-family: 'Pokemon Hollow';
    src: url('/fonts/Pokemon-hollow.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('/fonts/Pokemon-solid.ttf') format('truetype');
}

.logo{
    height: auto;
    width: 250px;
}

header {
    border: 2px solid #219ebc;
    background-color: #8ecae6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;   
}

nav {
    display: flex;
}

nav a {
    font-family: 'Pokemon Solid';
    font-size: 24px;
    margin-left: 20px;
    padding-right: 50px;
    text-decoration: none;
    color: #ffb703;
    text-shadow: 
        -1px -1px 0 #023047,
         1px -1px 0 #023047,
        -1px  1px 0 #023047,
         1px  1px 0 #023047;
}