body{
    background-image: url(backdaback.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 90px;
    margin-left: 140px;
}

.teste{
    background-image: url(innerpoke.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}